.card {
	background-color: black;
	border: 1px solid white;
	border-radius: var(--border-radius);
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0 0 0 var(--color-accent1);
	transition: all ease var(--transition-speed);
}
.card:hover {
	box-shadow: 12px 12px 0 var(--color-accent1);
	transform: translate(-12px, -12px);
	background-color: #333;
}

.image {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.textWrapper {
	padding: 0.5rem 1.4rem 1rem 1.4rem;
	display: flex;
	align-items: flex-start;
}

.name {
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0.4rem;
}

.educatorName {
	font-style: italic;
}

.price {
	border: 1px solid white;
	border-radius: var(--border-radius);
	padding: 0.2rem 0.4rem;
	flex-shrink: 0;
}
